<button class="ui twitter icon massive button">
  <%= link_to ("<i class='twitter icon'></i>").html_safe, '/auth/twitter' %>
</button>

<button class="ui facebook icon massive button">
  <%= link_to ("<i class='facebook icon'></i>").html_safe, '/auth/facebook' %>
</button>
