<div class="ui raised text container segment">
  <h1 class="ui centered header"><%= "#{current_user.name}'s Favorite Recipes" %></h1>
</div>

<div class="ui raised text container segment">
  <div id="js-favorite_recipe" class="ui middle aligned selection list">
    <% @favorites.each do |favorite| %>
      <div class="item js-title">
        | <%= link_to "Remove", favorite_path(favorite), :method => "delete" %>
      </div>
    <% end %>
  </div>
</div>
