<div class="ui raised text container segment">
  <div class="ui list">
    <% @recipes.each do |recipe| %>
      <h1 class="ui centered header"><%= link_to recipe.title, recipe_path(recipe) %></h1>
    <% end %>
  </div>
</div>
