<div class="ui raised text container segment">
  <h1 class="ui centered header">Welcome back <%= "#{current_user.name}!" %></h1>
</div>
<div class="ui raised text container segment">
  <div class="ui middle aligned selection list">
    <% @recipes.each do |recipe| %>
      <div class="item"><%= link_to "#{recipe.title}", recipe_path(recipe) %></div>
    <% end %>
  </div>
</div>
