<div class="ui raised text container segment">
  <h1 class="ui centered header">Welcome back <%= "#{current_user.name}!" %> </h1>
</div>
<div class="ui raised text container segment">
    <% @recipes.each do |recipe| %>
      <ul>
        <li><%= link_to "#{recipe.title}", recipe_path %></li>
      </ul>
    <% end %>
</div>
